#top {
    background-color: aqua;
    text-align: center;
    position: fixed;
    width: 100%;

    margin-top: -10px;
    margin-left: -5px;


}


.split {
    height: 93%;
    width: 50%;
    position: fixed;
    z-index: 1;
    margin-top: 20px;

  }


  .left {
    left: 0;
    text-align: center;
    margin-top: 150px;
  }


  .right {
    right: 0;

  }

input {
    margin-top: 10px;
}



